     <% article.image_url %>
        <div class="card" data-target="articles.content"
             data-articletopic="<%= article.tags.first.topic.name %>">
          <div class="article_image">
            <%= image_tag(article.image_url) %>
          </div>
          <div class="overlay"></div>
          <div class="read-time">
            <p> <% if article.read_mins < 1  %>
                < 1 min
              <% else %>
                <%= article.read_mins  %> mins
              <% end %>
            </p>
          </div>
          <div class="headline">
            <%= link_to "#{article.title}", article_show_path(article)%>
          </div>
        </div>
