<div class="page ml-2"><p> Dashboard </p></div>

<p> your latest intake of news </p>

<div class="card-topic-container" data-controller='articles'>
  <% @filtered_articles_hash.each do |topic, articles| %>
    <% unless articles.empty? %>
      <div class="headuh ml-2">
        <p><%= topic %></p>
      </div>
      <br>
      <div class="cards">
        <% articles.first(4).each do |article| %>
          <%= render "article_card", article: article %>
        <%end%>
        <%=link_to 'See More',
                    '#',
                    remote: true,
                    'data-action' => 'click->articles#seeMore',
                    'data-topic' => topic
        %>
      </div>
    <%end%>
  <%end%>
</div>














