
<h1>Dashboard</h1>
<div class="cards">
  <% @articles.each do |article| %>
     <div class="card">
      <div class="article_image">
          <%= image_tag(article.image_url) %>
      </div>
      <div class="overlay">
      </div>
        <div class="read-time">
            <p><%= article.read_mins  %>mins</p>
        </div>
          <div class="headline">
              <%= article.title %>
          </div>
      </div>
</div>
<% end %>

