<br>
<br>
<div class="container">
  <h3>Articles</h3>
  <br>
  <% @articles.each do |article| %>
    <%= image_tag(article.image_url) %>
    <p><%= article.attributes %></p>
    <br>
  <% end %>
</div>