
<div class="svg-line">
  <svg class="svg" width="100" height="1" viewBox="0 0 80 1" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line y1="0.5" x2="100" y2="0.5" stroke="#F3DD11"/>
  </svg>
  <h3 class="title">articles</h3>
</div>
<br>
<div class="container">
  <div class="card-topic-container" data-controller='articles'>
    <% @filtered_articles_hash.each do |topic, articles| %>
      <% unless articles.empty? %>
        <div class="headuh ml-2">
          <p><%= topic %></p>
        </div>
        <br>
        <div class="cards">
          <% articles.first(4).each do |article| %>
            <%= render "article_card", article: article %>
          <%end%>
          <%=link_to 'see more',
                    '#',
                    remote: true,
                    'data-action' => 'click->articles#seeMore',
                    'data-topic' => topic,
                    class: "button-see-more"
          %>
        </div>
      <%end%>
    <%end%>
</div>
<%= render 'shared/navbar' %>

