<h1>Dashboards#likes</h1>
<div class="topics-container">
  <div class="card">
    <div class ="article_image"><img src="https://static.timesofisrael.com/www/uploads/2020/11/AP20332553223127-640x400.jpg"/>
    </div>
    <div class="read-time">
      <p> 5min </p>
    </div>
    <div class="headline">
      <p>Healines</p>
    </div>
  </div>
  <div class="card">
    <div class ="article_image"><img src="https://static.timesofisrael.com/www/uploads/2020/11/AP20332553223127-640x400.jpg"/>
    </div>
    <div class="read-time">
      <p> 5min </p>
    </div>
    <div class="headline">
      <p>Healines</p>
    </div>
  </div>
  <div class="card">
    <div class ="article_image"><img src="https://static.timesofisrael.com/www/uploads/2020/11/AP20332553223127-640x400.jpg"/>
    </div>
    <div class="read-time">
      <p> 5min </p>
    </div>
    <div class="headline">
      <p>Healines</p>
    </div>
  </div>
</div>

<p>Find me in app/views/dashboards/likes.html.erb</p>
