<h3 class="ml-2" style="margin-top:15px;">likes</h3>
<br>
<div class="cards">
  <% @likes.each do |like| %>
    <div class="card">
      <div class="article_image">
        <%= image_tag(like.article.image_url) %>
      </div>
      <div class="overlay"></div>
      <div class="read-time">
        <p><%= like.article.read_mins  %>mins</p>
      </div>
      <div class="headline">
        <%= link_to "#{like.article.title}", article_show_path(like.article)%>
      </div>
    </div>
  <%end%>
</div>
