<div class="settings-banner"> settings</div>
     <div class="settings-account">
      hello
    </div>
      <%= link_to "Sign Out", destroy_user_session_path, class: "button ml-", id: "btn-account", method: :delete %>
<p>Find me in app/views/dashboards/settings.html.erb</p>
