<h1>Dashboards#settings</h1>
      <%= link_to "Sign Out", destroy_user_session_path, class: "button ml-", id: "btn-account", method: :delete %>
<p>Find me in app/views/dashboards/settings.html.erb</p>
