<br>
<br>
  <h4 class="ml-4">select your topics</h4>
  <br>
  <div class="container">
    <div id="topic-tag-container" class="d-flex flex-wrap justify-content-center">
      <% @topics.each do |topic| %>
        <button class="topic-button topic-tag-button" data-element-id="<%= topic.id %>" data-element="topic"><%= topic.name %></button>
      <% end %>
    </div>
    <br>
    <center>
      <button class="button" style="align-content:center;width:calc(100% - 65px);" id="btn-next"><strong>next</strong></button>
    </center>
  </div>
<br>
<br>
<br>
<br>
