<br>
<br>
<br>
<ul id="topic-tag-container">
  <% @topics.each do |topic| %>
    <li data-element-id="<%= topic.id %>" data-element="topic"><%= topic.name %></li>
  <% end %>
</ul>

<button id="btn-next">NEXT</button>
