.button {

  background-color: black; /* Green */
  border: 2px solid #F3DD11;
  color: #F3DD11;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.next-button {
  background-color: #f3dd11; /* Green */
  color: black;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button:hover {
  background-color: #F3DD11; /* Green */
  color: black;
}

.show-card-button {
  width: 160px;
  height: 45px;
  background-color: black;
  border: 2px solid red;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  align-self: center;
 }

