.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  background-color: black;
  height: 200px;
  border-radius: 10px;
  position: relative;
  flex: 0 0 46%;
  margin: 7px;
}

.card .topic{
  margin-left: 10px;
  height: 5px;
  font-family: 'Raleway';
  color: #F3DD11;
  font-size: 20px;
}

.card .headline {
  text-align: center-left;
  font-family: 'Raleway';
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  left: 1px;
  right: 1px;
}

.card .read-time {
  font-family: 'Raleway';
  color: yellow;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 2px;
}

.card .article_image {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.card .article_image img {
  width: 100%;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 202px;
  background: linear-gradient(#0002, black);
  opacity: .6;
  position: absolute;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

