.fa-home {
  color: #F3DD11;
  font-size: 30px;
  opacity: 0.7;
}

.fa-heart {
  color: #F3DD11;
  font-size: 30px;
  opacity: 0.7;
}

.fa-cog {
  color: #F3DD11;
  font-size: 30px;
  opacity: 0.7;
}

