.fa-home {
  color: #F3DD11;
  font-size: 30px;
}

.fa-heart {
  color: #F3DD11;
  font-size: 30px;
}

.fa-cog {
  color: #F3DD11;
  font-size: 30px;
}

.fa-hourglass-half {
  font-size: 12px;
  margin-left: 4px;
  margin-right: 2px;
  opacity: .6;
}

.fa-twitter {
  font-size: 18px;
  color: #1DA1F2;

}
