.navbar-lewagon {
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  border: 2px solid red;
  width: 100%;
}

 .navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}
