.registration {
  height: 150px;
  width: 150px;
  justify-content: center;
}

.registration .image {
  height: inherit;
  width: inherit;
  align-content: center;
  object-fit: cover;
}

.registration .image img {
 height: inherit;
  width: inherit;
  align-content: center;
  object-fit: cover;
}
