  .settings-account {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #F3DD11;
    left: 5px;
    right: 5px;
    top: 5px;
  }

  .settings-topics {

  }
.settings-banner {
    align-content: center-left;
    height: 15px;
    width: 30px;
    color: #F3DD11;
    font-size: 50px;
}
