.svg-line {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

.svg {
  position: absolute;
  bottom: 0px;
  left: 124px;
}

.svg-line-setup {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

.svg-setup {
  position: absolute;
  bottom: 0px;
  left: 60px;
}

.svg-line-likes {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

.svg-likes {
  position: absolute;
  bottom: 0px;
  left: 118px;
}

.svg-line-time {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

.svg-time {
  position: absolute;
  bottom: 0px;
  left: 68px;
}

.svg-line-edit {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

.svg-edit {
  position: absolute;
  bottom: 0px;
  left: 32px;
}

.svg-line-tags {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
}

.svg-tags {
  position: absolute;
  bottom: 0px;
  left: 80px;
}
