<h1>New User Tag</h1>

<ul id="topic-tag-container">
  <% @topics.each do |topic| %>
    <% topic.tags.each do |tag| %>
      <li data-element-id="<%= tag.id %>" data-element="tag"><%= tag.name %></li>
    <% end %>
  <% end %>
</ul>

<button id="btn-next">NEXT</button>
