<br>
<br>
<div class="container">
<h2>Tags</h2>
<br>
  <ul id="topic-tag-container">
    <% @topics.each do |topic| %>
      <h4><%= topic.name %></h4>
        <% topic.tags.each do |tag| %>
          <li data-element-id="<%= tag.id %>" data-element="tag"><%= tag.name %></li>
        <% end %>
        <br>
    <% end %>
  </ul>
<button id="btn-next">NEXT</button>
</div>

